body {
  font-family: 'Roboto', sans-serif;
  max-width: 700px;
  padding: 20px;
  margin: 20px auto;
}

.title {
  text-transform: uppercase;
}
.quote {
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}