/* 
  TABLE OF CONTENTS 
    stylesheets from A to Z: 


*/

/* a */

.about-me {
  width: 100%;
  margin: auto;
  padding: 30px;
}

/* b */

.background {
  position: relative;
}

.banner {
  width: 100%;
  height: 35rem;
  object-fit: cover;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: 1px solid ;
  background-color: rgba(0, 0, 0, 0.3);
  color:white;
  font-size: 18px;
  padding: 15px;
  border-radius: 4px;
  margin: 10px;
}

/* c */
.container-fluid {
  padding: 0;
}

.contact {
  margin: 15px;
}

.contact-banner {
  width: 100%;
  object-fit: scale-down;
}

.contact-title {
  padding: 1rem 6em;
}

/* f */

.fas {
  font-size: 30px;
  margin-bottom: 20px;
}

form {
  background: rgba(0, 0, 0, 0.3);;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.footer-logo {
  width: fit-content;
  margin: auto;
}

/* i */

.intro {
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  z-index: 1; 
}

.icon {
  font-size: 3em;
}

input {
  width: 20%;
  margin-bottom: 10px;
}

/* j */
.jumbotron {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: rotate(90deg);
  object-fit: cover;
  height: 100px;
}

/* l */
.logo {
  position: absolute;
  background-color: rgb(0,0,0,0.2);
  border: 1px solid white;
  border-radius: 50px;
  padding: 15px;
  margin: 5px;
  color: white;
  left: 10rem;
}

label {
  color: #fff;
}

/* n */

.navbar {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 2rem;
  right: 5rem;
  left: 0;
  z-index: 1; 
}

.nav-item {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  text-shadow: 4px 0px 17px rgba(158,91,46,1);
  color: #fff !important;
  margin: 0 2rem;


}

/* t */

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 5rem;
  color: #fff;
  text-shadow: 4px 0px 17px rgba(158,91,46,1);
  text-align: center;

}

/* s */

.subtitle {
  font-size: 2rem;
  color: #fff;
  text-shadow: 4px 0px 17px rgba(158,91,46,1);
  text-align: center;
}

.skills {
  background-color: #4e67b8 ;
  padding: 40px;
}

.skills-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  height: 200px;
  margin: 20px 40px;
  box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);

}

/* p */

.portfolio {
  background-color:#f7f7f7;
  padding: 40px;  
}

.progress {
  margin: 15px;
}

.profile {
  object-fit: cover;
  width: 50%;
  height: 50%;
  border-radius: 8px;
}


/* Particles-js */

body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } 
canvas{ display: block; vertical-align: bottom; } 
/* ---- particles.js container ---- */ 
#particles-js{ position:absolute; width: 100%; height: 100%; background-color: #6cb618; 
  background-image: url("https://images.unsplash.com/photo-1516600517612-61f2e5eb9182?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80"); 
  background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } 
  /* ---- stats.js ---- */ 
  .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } 
  .js-count-particles{ font-size: 1.1em; } #stats, 
  .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } 
  #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } 
  .count-particles{ border-radius: 0 0 3px 3px; }





